@use 'reset';
@use 'vars';
@use 'shakerAnim';

body {
  font-family: sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f7f308;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f7f308' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient(45deg,#33ff00,#00e9fa);
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-image: linear-gradient(90deg, #ff00ff, #ff7300);
  box-shadow: #2c022c 0 10px 25px;
  &__nav {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      &__item {
        &__link {
          width: 3.5rem;
          height: 3.5rem;
          background-color: #27b9fd;
          display: flex;
          justify-content: center;
          align-items: center;
          filter: 
            drop-shadow(3px 3px #e5ffbb)
            drop-shadow(3px 3px #ffc400);
          &.active {
            background-color: #132557;
            filter: 
              drop-shadow(3px 3px #d7ff28)
              drop-shadow(3px 3px #3cff00);
          }
        }
       }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 4rem 0 2rem 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  scrollbar-color: #0e3c58 #f0b6ff;
  scrollbar-width: thin;
  &::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 1rem;
    background-color: #0b0b91;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #78a6c5), color-stop(0.72, #0e3c58));
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f0b6ff;
  }
  .joke {
    flex-grow: 1;
  }
  .rating-bloc {
    height: 7rem;
    .button {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
  .jokes {
    &__title {
      margin-top: 1rem;
      font-size: 2rem;
      font-family: serif;
    }
  }
}

.button {
  padding: .8rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: 2px solid #e5ffbb;
  background-image: linear-gradient(90deg, #ff00ff, #ff7300);
  box-shadow: #2c022c 0 10px 20px;
  color: #e5ffbb;
  transition: all .3s cubic-bezier(0.17, 0.84, 0.44, 1);
  &.give-joke {
    display: block;
    margin: 2rem 1rem 2rem;
  }
  &:hover {
    box-shadow: #2c022c 0 10px 30px;
    animation: 1s linear 0s infinite shake;
    filter: hue-rotate(250deg);
  }
}

@import 'rwd';
